/* search bar css */
form{
   margin-top: 1%;
}
form button{
   margin-top: 0.5%;
}
#profilepic{
   height: 350px;
   width: 350px;
   border: 2px solid black;
   border-radius: 100%;
   float: left;
}
.userdeets{
   text-align: left;
   margin-top: 2%;
}

.repos{
   margin-top: 2%;
}
.col-md-9{
   margin-top: 3%;
}