<div id="userdetails" class="row">
   <div class="col-md-4">
      <img src="{{user.avatar_url}}" alt="ProfilePicture"/>
   </div>
   <div class="col-md-3">
      <ul class="list-group">
         <li class="list-group-item"><h2>{{user.name}}</h2>
         </li>
         <li class="list-group-item">
            <p>repos{{user.public_repos}}</p>
         </li>
      </ul>
   </div>
   <hr/>
</div>
<div class="col-md-4 text-center">
   <h5 class="card-title text-center">{{user.name}}'s Repositories</h5>
   <ul class="list-group">
      <li class="list-group-item">
         <p> {{user.public_repos}} Repos</p>
         <a href="{{user.html_url}}" target="_blank" class="list-group-item list-group-item-action active">View Repository</a>
      </li>
   </ul>
</div>
