<form class="container-fluid ">
   <div class="form-group">

      <input type="text" [(ngModel)]="username" name="username" class="form-control form-control-lg"
         placeholder="Search for Github Username" required />

      <button type="submit" class="btn btn-primary" (click)="getName()"><i class="fa fa-search"></i>Search</button>
   </div>
</form>

<div *ngIf="user" class="container-fluid userdeets">
   <div class="row" *ngIf="user">

      <div class="col-md-3">
         <img src="{{user.avatar_url}}" alt="ProfilePicture" id="profilepic" />
      </div>

      <div class="col-md-9">
         <ul class="list-group">
            <li class="list-group-item">
               <h2>Username: {{user.login}}</h2>
            </li>

            <li class="list-group-item">
               <h5>{{user.public_repos}} Repositories</h5>
            </li>
         </ul>
      </div>

      <hr />
   </div>
   <div class="repos">
      <h3 class="card-title">{{user.login}}'s Repositories</h3>
      <ul class="list-group">
         <li class="list-group-item" *ngIf="user">
            <div *ngFor="let repo of repos">

               <h4 *ngIf="user"> {{repo.name}}</h4>

               <a href={{repo.html_url}} target="_blank" class=""> View Repository</a>
               
               <hr />
            </div>
         </li>
      </ul>
   </div>
</div>